body{
    margin: 0;
    padding: 0;
    background-color: #3C4753; 
}



#web a{
    text-decoration: none;
    color: white;
    padding: 1rem; 
    margin: 2vw; 
    border-style: groove;
    border-radius: 5rem;
}

#web a:hover{
    background-color:  #cc8899;
    transition: 400ms;
    
}

#web H1 {
    color: white;
    text-align: center;
}
