body{
    margin: 0;
    padding: 0;
    background-color: #3C4753; 
}



#web a{
    text-decoration: none;
    color: white;
    padding: 2vw;  
    border-style: groove;
    float: none;
    margin: 5vw;
    margin-top: 10vh;  

}

#web a:hover{
    background-color:  #cc8899;
    transition: 400ms;
    
}

#web H1 {
    color: white;
    text-align: center;
}
