body{
    margin: 0;
    padding: 0;

}
#nav{
    min-height: 100vh;
    background-color: #B1EDE8;
}
#nav a{
    display: block;
    font-size: 1.6rem;
    text-decoration: none;
    color: black; 
    padding: 1rem; 
    border-radius: .3rem;
}

#nav a:hover{
    background-color:#FFFCF9; 
    transition: 300ms;
}

#full {
    display: flex;
}

#cell {
    border-style: groove; 
    margin: 2rem; 
    padding: 1rem; 
}
#cell h1, p{
    font-family:fantasy;
}

#mapImage img{
    width: 38rem; 
}
