html,body{
    margin: 0; 
    padding: 0; 
}

#background{
    background-color: #3C4753;
    height: fit-content;
    width: fit-content;
    min-height: 100vh;
    min-width: 100vw;

    background-image:
        radial-gradient(
            white 0%, 
            transparent 4%

        );

    background-position: 0% 0%; 
    background-size: 12vmin 12vmin;

    position:absolute; 
    left: 0px;
    top: 0px; 
    z-index: 1; 

    transition: opacity 800ms ease, 
        background-size 800ms ease; 
    
}

#nav{ 
    margin: 0%;
    padding: 0%; 
    background-color:#211c15 ; 
    position: relative; 
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.triangle{
    border-top: 4vw solid #cc8899;
    border-left: 3vh solid transparent; 
    border-right: 3vh solid transparent; 
    margin: 1rem;
    transition: 750ms;
}


#nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none; 
    font-size: 25px;
    color: #7D8966;
    display: block;
    text-align: center; 
    padding: 1rem; 

}
 #nav a:hover {
    background-color: #cc8899;
    color: white; 
    transition: 400ms;
 }
 
 .textBlock {     
    display:flex;
    flex-wrap:wrap;
    padding: 1.5rem;
    justify-content: space-between;
    z-index: initial;
 }

 #info{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: fit-content;
    width: fit-content;
    max-width: 27vw;
    background-color: #211C15;
    color: #D9E4E8;
    padding: 2%; 
    
    overflow-wrap: break-word;
    border-radius: 10px;
    box-shadow: 0em .2em  black;
    transition: 500ms; 
 }
 #info p, li {
    font-size: 1rem;
 }

#info:hover{
    box-shadow: 0em .7em  #7D8966;
}


