body{
    margin: 0;
    padding: 0;

}
h1, h2, h3, h4, p{
    font-family:monospace; 
    font-size: 1.5vw;
}
#nav{
    background-color: #B1EDE8;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw; 
}
#nav a{
    float: left; 
    text-decoration: none;
    font-size: 1.6rem;
    color: black; 
    padding: 2%;
}

#prom:hover{
    
}
#nav a:hover{
    background-color:#b8f5f0; 
    font-size:1.65rem;
    color: #9d6976; 
    box-shadow: 5px 5px 5px black;
    transition: 300ms;
}


#content{
    margin-top: 10%;
}

#cell {
    border-style: groove; 
    margin:auto;
    margin-bottom: 2vh;
    padding: 1vw;  
    height: auto;
    width: 80vw;
    overflow: hidden;  
    box-shadow: 10px 10px #CC8899;
}

#cell a {
    text-decoration: none; 
    color: black; 
   
}

#cell a:hover{
    color: #CC8899;
    transition: 300ms;

}

#Rumors { 
 border-style: groove; 
 width: 80vw;
 padding: 1vw;
 height: auto; 
 overflow: hidden;
 margin: auto; 

}

#RumorTable{
    display:flex;
    flex-direction: column;
    
    column-gap:2vh;
}

#RumorTable #cell{ 
    height: auto;
    width: auto; 
    margin: 2vw;
}

#desc{
    float: right; 
}

#mapImage{
    float: left;
    padding: 1vw; 
     
}
#mapImage img{
    height: auto; 
    max-width: 30vw; 
}






