body{
    margin: 0;
    padding: 0;

}
h1, h2, h3, h4, p{
    font-family:monospace; 
}
#nav{
    background-color: #B1EDE8;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100vw; 
}
#nav a{
    float: left; 
    text-decoration: none;
    font-size: 1.6rem;
    color: black; 
    padding: 2%;
}

#nav a:hover{
    background-color:#FFFCF9; 
    transition: 300ms;

}

#content{
    margin-top: 10%;
}

#cell {
  
    margin: 2vw; 
    padding: 2vw;
    width: 90vw; 
    min-height: fit-content; 
    border-style: groove; 
    overflow: auto; 
}


#desc{
    float: right; 
}

#mapImage img{
    float: left; 
    height: auto; 
    max-width: 35vw; 
    max-height: 50vw;  
    margin: 2vw; 
}
